<body>

    <h1>Green Machine</h1>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Krub">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Leckerli One">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Dekko'>

    <div class ="container">

        <p>Hello! </p>
        <p>Here at Green Machine, we want to promote a zero-waste world by helping you work with what you already have! Enter your pantry ingredients below and we'll give you a recipe that will help you use them. </p>
        <p>Let's get started! </p>

        <div class="container1">
            <form action="/home/add_ingredient" method="post">
                <div class="form-group row">
                    <p>Enter your ingredients one-by-one: </p>
                    <input
                    type = "text" name = "ingredient" id = "ingredient" placeholder = "Enter ingredient:">
                    <button class="test" type="submit">add</button>
                    <br>
                    <br>
                </div>
                <div>
                    <% if (data) {
                        var table = '';
                        var ingredient = '';
                        data.forEach(function(item) {
                        
                            table += '<tr>' + '<td>' + item.ingredient_name + '</td>' + '</tr>' + '<br>';
                
                        }); %>
                        <%- table %>
                    <% } %>
                </div>
            </form>
            <form action="/home/clear_ingredients" method="post">
                        <button class="test" type="submit">clear ingredients</button>
            </form>
            <form action="/recipes" method="get">
                        <button class="test" type="submit">Generate Recipe</button>
            </form>
        </div>
        

    </div>





</body>

<style>
    h1 {text-align: center;
        font-family:'Leckerli One';
        font-size: 60px; color: rgb(81, 136, 81);
        background-color: white;
        border: 1px solid black;

    }
    p {text-align: center; font-family: 'krub'; font-size: 20px;}
    body{
        background-image: url(/views/img/veggieBackground.jpeg);
    }
    .container{
        border: 1px solid black;
        background-color: rgb(255, 255, 255);
        width: 50%;
        margin: auto;
        padding: 1%;

    }
    .container1{
        border: 1px solid black;
        background-color: rgb(200, 219, 195);
        width: 50%;
        margin: auto;
        padding: 1%;
        text-align: center;

    }
    .add-ingredients{
        text-align: center;
    }
    .test{
        position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #629760;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #4a7449;
    font-family: 'Dekko';


    }

    .test:active {  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30); }
</style>
