<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <h1>Green Machine</h1>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Krub">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Leckerli One">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Dekko'>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Manrope'>
  </head>
  <body>
  
  
    <div class="container1">
        <form action="/recipes/generate_recipe" method="get">
            <div class="form-group row">
           
                <% if (ingredients) { %>
                   <% var table = ''; %>
                    <% var matchCount = 0; %>
                    <% var matchingRecipe = ''; %>
                    <% var matchingImg = ''; %>
                    <% var theRecipe = ''; %>
                    
                    <% recipes.forEach(function(recipe) { %>
                      <% var currCount = 0; %>
                      <% var currRecipe = recipe.dish_name; %>
                      <% var parts = recipe.parts; %>
                     
                      <% ingredients.forEach(function(ingredient) { %>
                        <% parts.forEach(function(part) { %>
                          <% if(part == ingredient.ingredient_name) { %>
                            <% currCount += 1; %>
                          <% } %>
                        <% }); %>
                      <% }); %>
                      <% if(recipe == recipes[0]) { %>
                          <% matchCount = currCount; %>
                      <% } %>
                      <% if(currCount >= matchCount) { %>
                          <% matchCount = currCount; %>
                          <% matchingRecipe = recipe.dish_name; %>
                          <% matchingImg = '../views/img/'+recipe.img; %>
                          <% matchingQuantity = recipe['quantity']; %>
                          <% theRecipe = recipe.recipeblurb; %>
                          
                          
                      <% } %>
                      
                    <% }); %>
                <% } %>
                <h2>Here's what Green Machine came up with!: </h2>
                
            </div>
            
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="<%- matchingImg %>" alt="Recipe" style="width:400px;height:400px;">
                  </div>
                  <div class="flip-card-back">
                    <p>Matching Recipe:</p>
                    <span style = "font-size: 18px;">
                      <%- matchingRecipe %>
                      <br>
                      <% if(matchingRecipe){ %>
                        <% matchingQuantity.forEach(function(item) { %>
                          <%- item %>
                          <br>
                       <% }) %>
                       <% } %>
                    </span>
                    </div>
                </div>
                
              </div>
                <span style="float: right; word-wrap: break-word; width: 800px;">
                  <br>
                  <br>
                  <%- theRecipe %>
                  <br>
                </span>
                   
    </div>
    <br>

  </body>

  <style>
    h1 {
        text-align: center;
        font-family:'Leckerli One';
        font-size: 60px; color: rgb(81, 136, 81);
        background-color: white;
        border: 1px solid black;

    }
    h2{
        font-family: 'Dekko';
        font-size: 40px;
        text-align: center;
    }
    p {text-align: center; font-family: 'Manrope'; font-size: 20px;}
    body{
        background-image: url(/views/img/veggieBackground.jpeg);
    }
    .container1{
        border: 1px solid black;
        background-color: rgb(200, 219, 195);
        width: 95%;
        height: 80%;
        margin: auto;
        margin-top: 30px;
        padding: 1%;

    }
    .test{
        bottom: 5%;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #FFF;
        background: #629760;
        border-radius: 4px;
        box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
        font-weight: bold;
        border: solid 2px #4a7449;
        font-family: 'Dekko';

        
    }

    .test:active {  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30); }

    body {
    font-family: 'Manrope';
    font-size: 20px;
    background-image: url(/views/img/veggieBackground.jpeg);
  }
  .flip-card {
      margin: 0 auto;
      float:left;
      margin-bottom: 10px;
      background-color: transparent;
      width: 400px;
      height: 400px;
      perspective: 1000px;
      padding-left: 2%;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align:center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-back {
    background-color: rgb(112, 180, 112);
    color: white;
    transform: rotateY(180deg);
  }
</style>
</style>
  