<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <head>
    <h1>Green Machine</h1>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Krub">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Leckerli One">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Dekko'>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Manrope'>
  </head>
  <body>
  
  
    <div class="container1">
        <form action="/recipes/generate_recipe" method="get">
            <div class="form-group row">
           
                <% if (ingredients) { %>
                   <% var table = ''; %>
                    <% var matchCount = 0; %>
                    <% var matchingRecipe = ''; %>
                    <% var matchingImg = ''; %>
                    <% var theRecipe = ''; %>
                    <% recipes.forEach(function(recipe) { %>
                      <% var currCount = 0; %>
                      <% var currRecipe = recipe.dish_name %>
                      <% var parts = recipe.parts; %>
                      <% ingredients.forEach(function(ingredient) { %>
                        <% parts.forEach(function(part) { %>
                          <% if(part == ingredient.ingredient_name) { %>
                            <% currCount += 1; %>
                          <% } %>
                        <% }); %>
                      <% }); %>
                      <% if(recipe == recipes[0]) { %>
                          <% matchCount = currCount; %>
                      <% } %>
                      <% if(currCount >= matchCount) { %>
                          <% matchCount = currCount; %>
                          <% matchingRecipe = recipe.dish_name %>
                          <% matchingImg = '../views/img/'+recipe.img %>
                          <% theRecipe = recipe.recipeInformation %>
                          <%- console.log(recipe.recipeInformation) %>
                      <% } %>
                      
                    <% }); %>
                <% } %>
            </div>
            <h2>Matching Recipe:</h2>
            <%- matchingRecipe %>
            <%- theRecipe %>
        </form>
        <form action="/home/clear_ingredients" method="post">
                    <button class="test" type="submit">clear ingredients</button>
        </form>
        <form action="/recipes" method="get">
                    <button class="test" type="submit">Generate Recipe</button>
        </form>
    </div>
    
    <br>

  </body>

  <style>
    h1 {text-align: center;
        font-family:'Leckerli One';
        font-size: 60px; color: rgb(81, 136, 81);
        background-color: white;
        border: 1px solid black;

    }
    p {text-align: center; font-family: 'Manrope'; font-size: 20px;}
    body{
        background-image: url(/views/img/veggieBackground.jpeg);
    }
    .container1{
        border: 1px solid black;
        background-color: rgb(200, 219, 195);
        width: 95%;
        height: 80%;
        margin: auto;
        margin-top: 30px;
        padding: 1%;
        text-align: center;

    }
    .test{
        position: relative;
        display: inline-block;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #FFF;
        background: #629760;
        border-radius: 4px;
        box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
        font-weight: bold;
        border: solid 2px #4a7449;
        font-family: 'Dekko';
    }


    .test:active {  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30); }
</style>
  