

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>Login Page</title>

    <link rel="icon" href="../views/img/GreenMachine.jpg" type="image/x-icon" />
    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="../resources/css/login.css" rel="stylesheet" />
    <!-- <link href="../resources/css/my_style.css" rel="stylesheet" /> -->
  </head>
 
  <body>
    <br>
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../project/views/img/GreenMachine.jpg" class="img-fluid" alt="GreenMachine" height=300 width=100>
      </div>
    </div>
  <body>
    <div id="login">
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12">
            <form id="login-form" class="form" action="" method="post">
              <h3 class="text-center text-success">Login</h3>
            <div class="form-group">
              <label for="email" class="text-success">Email:</label><br>
              <input type="email" name="email" id="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="password" class="text-success">Password:</label><br>
              <input type="text" name="password" id="password" class="form-control">
            </div>
            
            <div class="form-group">
              <label for="remember-me" class="text-muted"><span>Remember me</span> <span>
                <input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
            </div>
            <a href="../../project/views/greenMachineHome.html" class="btn btn-success btn-md" role="button">Submit</a>
            <br>
            <div id="register-link" class="text-right">
              <a href="../views/registration.html" class="text-muted">Register here</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
